.container{
    background-color: rgb(160, 0, 246);
    margin: -1rem;
    padding: 2rem;
}

.seccion{
    background-color: blue;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.parrafo{
    background-color: white;
    padding: 0.5rem;
}

.dragging{
    opacity: 0.3;
}

.boton{
    margin: auto;
    text-align: center;
    width: fit-content;
    /* border-radius: 20%; */
}

#delete{
    margin: -5px;
    width: 12vw;
    height: 12vw;
    border-radius: 20%;
}
